.tituloiniciativa 

    h1{
        color: #2c3c44;
        text-align: center;
        font-family: "Play", sans-serif;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 15px;

}


.tituloiniciativa 

    p{
        color: black;
        text-align: center;
        font-family: "Play", sans-serif;
        font-weight: bold;

}


.tituloiniciativa 

    p
    
        span{
            color: #2c3c44;
            font-weight: bolder;
            font-size: large;

}


.container-iniciativa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.container-iniciativa 

        figure{
            position: relative;
            height: 250px;
            width: 350px;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 50); 
            cursor: pointer;

}


.container-iniciativa 

        figure
        
                img{
                    width: 100%;
                    height: 100%;

}


.container-iniciativa 

        figure 
        
                .capa-iniciativa{
                    position: absolute;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(11, 103, 123, 0.6);
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;
                    transition: all 500ms ease-out;

}






.container-iniciativa 

        figure 
        
            .capa-iniciativa 
                        
                    h5{
                        font-family: "Play", sans-serif;
                        color: white; 
                        font-weight: bolder;
                        margin-bottom: 65px;
                        transition: all 500ms ease-out;
                        margin-top: 30px;

}


.container-iniciativa 

        figure 
        
                .capa-iniciativa 
                
                        p{
                            font-family: "Play", sans-serif;
                            color: white; 
                            line-height: 1.5;
                            font-size: 15px;
                            width: 100%;
                            max-width: 220%;
                            margin: auto;

}


.iniciativas 

        div{
    
            justify-content: center;

}


.info-ini{
    font-family: "Play", sans-serif;
    color: white; 
    text-align: center;
    background-color: #2c3c44;
    padding-top: 100px;
    padding-bottom: 100px;
    
}


.extra-ini{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    justify-content: center;
    display: flex;
    transition: all 5ms ease-out;

}


.extra-ini

        div

            p{
                text-align: center;
                color: #111111;
                font-weight: lighter;
                font-size: 25px;

}