.allfooter{
    background-color: black;
    padding: 25px;
}

    .allfooter 
    
        p{
            color: white;
            font-family: "Play", sans-serif;
            font-weight: bold;
            text-align: center;

}