@keyframes cambiafuente{

    0%{
        color:  #2c3c44;
        font-weight: bold;
    }

    25%{
        color: #1b9aaa;
        font-weight: bolder;
    }

    50%{
        color: rgba(11, 103, 123, 0.6);
        font-weight: bold;
    }

    75%{
        color: #1b9aaa;
        font-weight: bolder;
    }

    100%{
        color:  #2c3c44;
        font-weight: bold;
    }


}

@keyframes cambia-color{

    0%{}

    25%{}

    50%{}

    75%{}

    100%{}
    

}